/* CSS Document */

#wrapper{
	margin-top:25px;
}
textarea{
	height:150px !important;
}

/*Form Error Messages*/
.form-control.ng-pristine{
	border-color:#FF6A6A;
	color:#FF3030;
}
.form-control.ng-invalid-required{
	border-color:#FF6A6A;
	color:#FF3030;
}
.form-control.ng-dirty.ng-invalid-pattern{
	border-color:#FF6A6A;
	color:#FF3030;
}
.form-control.ng-dirty.ng-invalid-minlength{
	border-color:#FF6A6A;
	color:#FF3030;
}
.form-control.ng-dirty.ng-valid-pattern{
	border-color:#9AFF9A;
	color:#548B54;
}
.form-control.ng-valid-required{
	border-color:#9AFF9A;
	color:#548B54	;
}
