<div class="row">
        	<h1 class="text-center">Beer Me</h1>
        </div>
       
      	<div class="row">
            <section class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
            	<dl>
                  <dt class="purple-text beer-type-headings">Light Beer</dt>
                  <dd>Cornhole plaid quinoa pork belly. Qui pug disrupt Vice cray banjo. Fashion axe hella tousled Bushwick. Pinterest hashtag Austin, Bushwick master cleanse fap cillum pug hoodie. Aliquip direct trade fixie, mixtape wayfarers selvage lo-fi velit anim eiusmod meditation shabby chic. Cray sartorial DIY meh incididunt. Vegan chambray cornhole, viral Shoreditch stumptown seitan.</dd>
                  <dt class="purple-text beer-type-headings">Notes</dt>
                  <dd>Cornhole, plaid quinoa, pork belly, Qui pug disrupt, Vice cray banjo.</dd>
                </dl>
                <a href="#/light-results">
                    <figure class="center-block" id="light-link">
                    <figcaption class="text-center">Light</figcaption>
                    </figure>
                </a>
            </section>
            <section class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
  
                    <dl>
                      <dt class="purple-text beer-type-headings">Flavourful Beer</dt>
                      <dd>Cornhole plaid quinoa pork belly. Qui pug disrupt Vice cray banjo. Fashion axe hella tousled Bushwick. Pinterest hashtag Austin, Bushwick master cleanse fap cillum pug hoodie. Aliquip direct trade fixie, mixtape wayfarers selvage lo-fi velit anim eiusmod meditation shabby chic. Cray sartorial DIY meh incididunt. Vegan chambray cornhole, viral Shoreditch stumptown seitan.</dd>
                      <dt class="purple-text beer-type-headings">Notes</dt>
                      <dd>Cornhole, plaid quinoa, pork belly, Qui pug disrupt, Vice cray banjo.</dd>
                    </dl>
                    <a href="#/fruit-results">
                    <figure class="center-block" id="amber-link">
                    <figcaption class="text-center">Flavourful</figcaption>
                    </figure>
                </a>
                
            </section>
            <section class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            	<dl>
                  <dt class="purple-text beer-type-headings">Dark Beer</dt>
                  <dd>Cornhole plaid quinoa pork belly. Qui pug disrupt Vice cray banjo. Fashion axe hella tousled Bushwick. Pinterest hashtag Austin, Bushwick master cleanse fap cillum pug hoodie. Aliquip direct trade fixie, mixtape wayfarers selvage lo-fi velit anim eiusmod meditation shabby chic. Cray sartorial DIY meh incididunt. Vegan chambray cornhole, viral Shoreditch stumptown seitan.</dd>
                  <dt class="purple-text beer-type-headings">Notes</dt>
                  <dd>Cornhole, plaid quinoa, pork belly, Qui pug disrupt, Vice cray banjo.</dd>
                </dl>
                <a href="#/dark-results">
                    <figure class="center-block" id="dark-link">
                    <figcaption class="text-center">Dark</figcaption>
                    </figure>
                </a>
            </section>
           
        </div>
         <div class="row text-center">
        	<a href="#/">Try Again</a>
         </div>