<div class="bkg row" id="toronto">
        	<div class="text-center wht-font"><h1>Beer Me</h1></div>
        </div>
      	<div class="row">
            <section class="col-lg-4 col-md-4 col-sm-4 clearfix brd-btm section-spacing">
                  
                  <div class="col-xs-9">
                  	<ul class="find-beer-lists wht-font">
                    	<li>Light Beer</li>
                        <li>Light, refreshing, golden.</li>
                    </ul>
                  </div>
                  <a href="/#light-results"><div class="col-xs-3 text-center"><i class="fa fa-angle-right fa-2x"></i></div></a>
            </section>
            
            <section class="col-lg-4 col-md-4 col-sm-4 clearfix brd-btm section-spacing">
                  
                  <div class="col-xs-9">
                  	<ul class="find-beer-lists wht-font">
                    	<li>Flavourful Beer</li>
                        <li>Hoppy, Fruity, Flavourful.</li>
                    </ul>
                  </div>
                  <a href="/#fruit-results"><div class="col-xs-3 text-center"><i class="fa fa-angle-right fa-2x"></i></div></a>        
            </section>
            
            <section class="col-lg-4 col-md-4 col-sm-4 clearfix brd-btm section-spacing">
                  
                  <div class="col-xs-9">
                  	<ul class="find-beer-lists wht-font">
                    	<li>Dark Beer</li>
                        <li>Coffee, Chocolate, Creamy.</li>
                    </ul>
                  </div> 
                  <a href="/#dark-results"><div class="col-xs-3 text-center"><i class="fa fa-angle-right fa-2x"></i></div></a>       
            </section>
           
        </div>
         <div class="row text-center">
        	<a href="#/" id="backbtn"> Back</a>
         </div>
