<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" id="landing-spacing">
<h1 class="text-center wht-font">Beer Me</h1>
        <form id="frm-mrg" class="">
            <div class="form-group">
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
        		<button type="submit" class="myBtn col-xs-6 col-xs-offset-3 prp-bkg wht-font">Login</button>
                <a href="#/findBeer" class="myBtn prp-bkg text-center col-xs-6 col-xs-offset-3 wht-font">Enter</a>
        </form>
        
        <footer  class="row">
        	<a href="#/sign-up" class="myBtn prp-bkg text-center col-xs-6 col-xs-offset-3 wht-font">Sign Up</a>
        </footer>
</div>