<div class="row">
        	<h1 class="text-center">Beer Me</h1>
        </div>
        <div class="row">
        	<h2 class="text-center">Let's find you a Beer!</h2>
        </div>
      	<div class="row" id="main-btn-row">
            <section class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12 ">
            	<a href="#/findBeer">
                    <figure class="center-block" id="beginner-link">
                    <figcaption class="text-center">Find My Beer</figcaption>
                    </figure>
                </a>
            </section>
        </div>