<div class="row">
        	<h1 class="text-center">Beer Me</h1>
        </div>
        <div class="row">
        	<h2 class="text-center">What's Your Beer Knowledge?</h2>
        </div>
      	<div class="row" id="main-btn-row">
            <section class="col-lg-4 col-md-4 col-sm-4 col-xs-12 ">
            	<a href="#/beginner">
                    <figure class="center-block" id="beginner-link">
                    <figcaption class="text-center">Beginner</figcaption>
                    </figure>
                </a>
            </section>
            <div ng-vew></div>
            <section class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            	<a href="#">
                    <figure class="center-block" id="intermediate-link">
                    <figcaption class="text-center">Intermediate</figcaption>
                    </figure>
                </a>
            </section>
            <section class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            	<a href="#">
                    <figure class="center-block" id="advanced-link">
                    <figcaption class="text-center">Advanced</figcaption>
                    </figure>
                </a>
            </section>
        </div>